#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 500px;
    border-radius: 0px;
}
#textbox
{
    width: 300px;
}
#logo1_img
{
    width: 500px;
    border-radius: 0px;
}
#logo2_img
{
    width: 500px;
    border-radius: 0px;
}
#logo3_img
{
    width: 150px;
    border-radius: 100px;
}